*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}
.container{
    width: 18%;
    margin: auto;
    border-radius: 16px;
    margin-top: 100px;
    background-color: rgb(30, 34, 53);

}
.header-title{
    color: white;
    font-size: 34px;
    padding: 5px;
    margin-top: 25px;
}
.sub-title{
    color: white;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 35px;
}
.main-content{
    padding: 25px;
}
.input-text{
    display: block;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background-color: rgb(78, 76, 93);
    
}
input{
    color: white;
}
input:focus{
    outline: none;
}
.btn-button{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    background-color: rgb(46, 145, 238);
    margin:20px 0px;   
}
